<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><%= link_to 'Home', store_path %></li>
          <li><%= link_to 'Product Manager', products_path %></li>
          <li><a href=""><a>News</a></li>
            <li><a href=""><a>Contact</a></li>
            </ul>
            <%= content_tag :div, Time.now.to_formatted_s(:short), class: 'time' %>
            <% if (visit_count = session[:visit_count].to_i) > 5 %>
              <%= content_tag :div, pluralize(visit_count, 'visit'), class: 'visit' %>
            <% end %>
          </div>
          <div id="main">
            <%= yield %>
          </div>
        </div>
      </body>
    </html>
